# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
img/buy_pay_food_view.gif
src/App.jsx
img/buy_pay_hotel_view.gif
img/buy_pay_scenics_view.gif
img/data_relation1.gif
img/data_relation2.gif
img/detail_view.gif
img/login_repeatName.gif
img/login_wrongName.gif
img/login_wrongPWD.gif
img/mall_cancel_order.gif
img/mall_delay_order.gif
img/mall_view.gif
img/manage_orderManage_pagnation.gif
img/manage_orderManage_search.gif
img/manage_userManage_modifyUser.gif
img/manage_userManage_pagnation.gif
img/manage_userManage_search.gif
img/mine_modifyMyself.gif
img/mine_cancel_order.gif
img/mine_orderInfo.gif
img/noRight_login.gif
img/mine_toPay.gif
img/pay_noBalance.gif
README.md
