.ant-layout {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    .logo {
      display: flex;
      height: 40px;
      margin: 16px;
      font-size: 16px;
      padding: auto 0;
      color: #fff;
      align-items: center;
      justify-content: center;
      background-image: url("http://localhost:3000/logo.gif");
      background-size: cover;
    }
    .sider{
      //background: linear-gradient(to top right,#bfbfbf,#f5f5f5);
      background-color: #f5f5f5;
      background-image: url("http://localhost:3000/sider.jpg");
      box-shadow:
        0px 0px 16.3px rgba(0, 0, 0, 0.008),
        0.1px 0px 22.3px rgba(0, 0, 0, 0.013),
        0.1px 0px 27.1px rgba(0, 0, 0, 0.017),
        0.2px 0px 31.9px rgba(0, 0, 0, 0.021),
        0.3px 0px 37.3px rgba(0, 0, 0, 0.025),
        0.4px 0px 44.3px rgba(0, 0, 0, 0.03),
        0.6px 0px 54.8px rgba(0, 0, 0, 0.035),
        1px 0px 80px rgba(0, 0, 0, 0.04);
    }
  }

.ant-layout-right{
    background: '#eee';
    display:'flex';
}
.ant-layout-right header{
  width: 100%;
  padding: 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
    background-image:  url("http://localhost:3000/layout-header.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow:
      0px 0px 16.3px rgba(0, 0, 0, 0.008),
      0.1px 0px 22.3px rgba(0, 0, 0, 0.013),
      0.1px 0px 27.1px rgba(0, 0, 0, 0.017),
      0.2px 0px 31.9px rgba(0, 0, 0, 0.021),
      0.3px 0px 37.3px rgba(0, 0, 0, 0.025),
      0.4px 0px 44.3px rgba(0, 0, 0, 0.03),
      0.6px 0px 54.8px rgba(0, 0, 0, 0.035),
      1px 0px 80px rgba(0, 0, 0, 0.04);
}

.ant-layout-right header .exit{
  margin-right: 32px;
  margin-left: 10px;
}
.ant-layout-right header .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }
.ant-layout-right header .trigger:hover {
    color: #1890ff;
  }

.ant-layout-right .content{
  flex-direction: column;
  background-color: #ffffff;
  margin: 18px 18px ;
  border-radius: 10px;
  //padding: 24px;
  min-height: 280;
  overflow:'auto';
}

.ant-layout-right .footer{
  padding-bottom: 20px;
  text-align: center;
}