.ant-layout {
    display: flex;
    width: 100vw;
    min-height: 100vh;
    .logo {
      display: flex;
      height: 36px;
      margin: 16px;
      font-size: 18px;
      padding: auto 0;
      color: #fff;
      align-items: center;
      justify-content: center;
      background: rgba(255, 255, 255, 0.3);
      background-image: url("http://localhost:3000/logo.gif");
      background-size: cover;
    }
  }

.ant-layout-right{
    background: '#eee';
    display:'flex';
}
.ant-layout-right header{
  width: 100%;
  padding: 0;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
}

.ant-layout-right header .exit{
  margin-right: 32px;
  margin-left: 10px;
}
.ant-layout-right header .trigger {
    padding: 0 24px;
    font-size: 18px;
    line-height: 64px;
    cursor: pointer;
    transition: color 0.3s;
  }
.ant-layout-right header .trigger:hover {
    color: #1890ff;
  }

.ant-layout-right .content{
  flex-direction: column;
  background-color: #ffffff;
  margin: 24px 16px;
  padding: 24px;
  min-height: 280;
  overflow:'auto';
}

.ant-layout-right .footer{
  padding-bottom: 20px;
  text-align: center;
}