*{
    margin: 0;
    padding: 0;
}
.manager-orderInfo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0;
    height: 100%;
    flex-shrink: 0;
    //border: 1px dashed black;
    border-radius: 10px;
    box-shadow:
            0px 0px 16.3px rgba(0, 0, 0, 0.008),
            0.1px 0px 22.3px rgba(0, 0, 0, 0.013),
            0.1px 0px 27.1px rgba(0, 0, 0, 0.017),
            0.2px 0px 31.9px rgba(0, 0, 0, 0.021),
            0.3px 0px 37.3px rgba(0, 0, 0, 0.025),
            0.4px 0px 44.3px rgba(0, 0, 0, 0.03),
            0.6px 0px 54.8px rgba(0, 0, 0, 0.035),
            1px 0px 80px rgba(0, 0, 0, 0.04);
    overflow-x: hidden;
    .header-info{
        //padding-left: 12px;
        width: 100%;
    };
    .select-tag{
        padding-top: 30px;
        padding-left: 18px;
        padding-right: 18px;
        width: 100% !important;
        min-width: 930px;
        display: flex;
        flex-direction: row;
        align-self: flex-start;
        flex-wrap: wrap;
        .ant-form {
            flex: 3;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            //gap: 20px;
            .reset-btn{
                margin-right: 30px;
            }
        };
    };
    
    .tab{
        width: 100%;
        padding-left:15px;
        padding-bottom:0;
        padding-top: 10px;
        margin:0;
        };
    .content{
        display: flex;
        flex: 1;
        width: 100%;
        max-height: 600px;
        overflow: scroll;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        flex-shrink: 0;
        align-items:flex-start;
        overflow-y: auto;
        overflow-x: hidden;
        //border: 2px dashed green; 
    };
    .content-footer{
        margin-left: auto;
        padding-bottom: 10px;
        padding-right: 10px;
    }
}
#manager-orderInfo-content-list{
        width: 100%;
        height: 100%;
        margin: 0;
        padding-top: 0px;
        padding-left: 10px;
        padding-right: 10px;
        user-select: text;
        // box-shadow:
        //     0px 0px 16.3px rgba(0, 0, 0, 0.008),
        //     0.1px 0px 22.3px rgba(0, 0, 0, 0.013),
        //     0.1px 0px 27.1px rgba(0, 0, 0, 0.017),
        //     0.2px 0px 31.9px rgba(0, 0, 0, 0.021),
        //     0.3px 0px 37.3px rgba(0, 0, 0, 0.025),
        //     0.4px 0px 44.3px rgba(0, 0, 0, 0.03),
        //     0.6px 0px 54.8px rgba(0, 0, 0, 0.035),
        //     1px 0px 80px rgba(0, 0, 0, 0.04);
}
.ant-collapse .ant-collapse-item .ant-collapse-header {
    background-color: #e6f4ff;
}
.ant-collapse .ant-collapse-content {
    background-color: #f5f5f5;
}


// .ant-btn-default {
//     background-color: #1677ff;
//     border-color: #ffffff;
//     color: #ffffff;
//     box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
// }
// .ant-btn-default:not(:disabled):hover {
//     background-color: #4096ff;
//     color: #ffffff;
// }


.manager-orderInfo .content::-webkit-scrollbar{
    width: 5px;
    height: 30px;
}

.manager-orderInfo .content::-webkit-scrollbar-track
{
    background-color:#fff;
}

.manager-orderInfo .content::-webkit-scrollbar-thumb
{
    border-radius:10px;
    background-color:rgba(0, 0, 0, .6);
}