.detail-page-mask{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,.3);
    transition: opacity .3s;
    overflow-y: auto;
    z-index: 100;
}

.detail-page{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 200;
    width: 100%;
    height: 100%;
}
.detail-page-box{
    min-width: 40%;
    min-height: 80%;
    max-width: 50%;
    max-height: 90%;
    padding: 0.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 4px 8px rgba(0,0,0,0.5), -2px -2px 8px rgba(255,255,255,0.1);
}

.detail-page-box .close-logo{
    align-self: end;
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
    background: url("http://localhost:3000/close-fill.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size:20px;
    border-radius: 50%;
    filter: invert(0.2);
    cursor: pointer;
    transition: 0.1s;
}
.detail-page-box .close-logo:hover{
    background-color: #fff;
    transform: scale(1.05);
}

.detail-page-box-content
{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 0.7em 1.5em;
    width: 100%;
    flex: 1;
    overflow-y: scroll;
    border: 1px dashed rgba(255,255,255,0);
    border-radius: 10px;
}

.detail-page-box-content::-webkit-scrollbar{
    width: 5px;
}

.detail-page-box-content::-webkit-scrollbar-track
{
    background-color:rgba(0,0,0,0);
    border-radius:10px;
}

.detail-page-box-content::-webkit-scrollbar-thumb
{
    border-radius:10px;
    background-color:rgba(0, 0, 0, .6);
}
.combo{
    width: 100%;
}
.combo-content{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    .combo-img{
        max-height: 200px;
        max-width: 260px;
        object-fit: contain;
    }
}
.select-combo-order{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: end;
    gap:32px;
    .comfirm-number{
        display:flex;
        align-items:center;
    }
}