.register-page{
    min-width: 100%;
    height: 100vh;
    min-height: 800px;
    background-image: url("http://localhost:3000/login-bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    display: flex;
    position: fixed;
    flex-direction:column;
    .header{
            min-height: 10%;
            width: 100%;
            display: flex;
            flex-direction:row;
            flex-grow: 1;
            justify-content:space-around;
            .back-btn{
                align-self:flex-start;//竖轴从顶端开始
                margin-top: 70px;
            }
            .welcome-register{
                align-self:center;//竖轴居中
                font-size: 36px;
                font-weight: 600;
                letter-spacing: 4px;
                flex-wrap:nowrap;
            }
            .displayedtext{
                opacity: 0;
            }
        }     
    .register-form{
        width: 100%;
        min-width: 800px;
        padding-left: 30%;
        padding-right: 30%;
        flex-grow: 1.2;
        justify-content: space-evenly;
    }    
    .register-form-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 5em;
    }
}
