*{
    margin: 0;
    padding: 0;
}
.manager-userInfo{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    border: 0;
    padding: 0;
    height: 100%;
    flex-shrink: 0;
    //border: 1px dashed black;
    border-radius: 10px;
    box-shadow:
            0px 0px 16.3px rgba(0, 0, 0, 0.008),
            0.1px 0px 22.3px rgba(0, 0, 0, 0.013),
            0.1px 0px 27.1px rgba(0, 0, 0, 0.017),
            0.2px 0px 31.9px rgba(0, 0, 0, 0.021),
            0.3px 0px 37.3px rgba(0, 0, 0, 0.025),
            0.4px 0px 44.3px rgba(0, 0, 0, 0.03),
            0.6px 0px 54.8px rgba(0, 0, 0, 0.035),
            1px 0px 80px rgba(0, 0, 0, 0.04);
    overflow-x: hidden;
    .header-info{
        width: 100%;
    };
    .select-tag{
        padding-top: 30px;
        padding-left: 10px;
        padding-right: 18px;
        width: 60%;
        min-width: 600px;
        display: flex;
        flex-direction: row;
        align-self: flex-start;
        flex-wrap: wrap;
        .myselect{
            flex: 1;
        }
        .myform{
            flex:3
        }
        span:not(:last-child){
            margin-right: 10px;
        }
    };
    .tab{
    width: 100%;
    padding-left:15px;
    padding-bottom:0;
    padding-top: 10px;
    margin:0;
    };
    .content{
        display: flex;
        flex: 1;
        width: 100%;
        margin: 18px 0px;
        flex-direction: column;
        max-height: 600px;
        overflow: scroll;
        justify-content: flex-start;
        align-items: flex-start;
        flex-shrink: 0;
        align-items:flex-start;
        overflow-y: auto;
        overflow-x: hidden;
        //border: 2px dashed green; 
    };
    .content-footer{
        margin-left: auto;
        padding-bottom: 10px;
        padding-right: 10px;
    }
}

    #manager-userInfo-content-list{
        width: 100%;
        height: 100%;
        margin: 0;
        padding-top: 0px;
        padding-left: 10px;
        padding-right: 10px;
        user-select: text;
    }
    .ant-collapse .ant-collapse-content {
        background-color: #f5f5f5;
    }
    



.manager-userInfo .content::-webkit-scrollbar{
    width: 5px;
    height: 30px;
}

.manager-userInfo .content::-webkit-scrollbar-track
{
    background-color:#fff;
}

.manager-userInfo .content::-webkit-scrollbar-thumb
{
    border-radius:10px;
    background-color:rgba(0, 0, 0, .6);
}