.mall-content{
    max-width:100%;
    display: flex;
    flex-direction:column;
    align-items:center;
}
.mall-content .tab{
    padding-left:20px;
    padding-bottom:0;
    margin:0;
    align-self:start;
}