.card-content{
    height: 100%;
    min-height: 600px;
    max-height: 780px; 
    width: 100%;
    padding: 0;
    display: block;
    overflow-y:auto;
}

.card-content::-webkit-scrollbar{
    width: 5px;
    height: 30px;
}

.card-content::-webkit-scrollbar-track
{
    background-color:#fff;
}

.card-content::-webkit-scrollbar-thumb
{
    border-radius:10px;
    background-color:rgba(0, 0, 0, .6);
}

.card-content .card-roll{
    display: flex;
    flex-direction: row;
    padding-right: 10px;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0, auto;
}

.card-content .card-roll .mycard-image-cover{
    overflow: hidden;
    opacity: 92%;
}

.mycard-image-cover:hover{
    .mycard-image{
        transform: scale(1.05);
    }
}

.mycard-image{
    height: 180px;
    flex-shrink: 0;
    transition: 0.5s;
}

.mycard-meta{
    flex: 1;
}
