.card-content{
    height: 100%;
    min-height: 600px;
    max-height: 800px; 
    width: 100%;
    padding: 0;
    display: block;
    overflow:auto;
}
.card-content .card-roll{
    display: flex;
    flex-direction: row;
    padding-right: 10px;
    justify-content: start;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0, auto;
}

.card-content .card-roll .mycard-image-cover{
    overflow: hidden;
    opacity: 92%;
}
.mycard-image-cover:hover{
    .mycard-image{
        transform: scale(1.05);
    }
}
.mycard-image{
    transition: 0.5s;
}
